# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.obj
*.log
*.tlog
*.DS_Store
Shoot-the-space/Debug/*
*.exe
Debug/*
Grafikk_Lab/Deb*
Grafikk_Lab.opensdf
